*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.card{
    height: 300px;
    width: 300px;
    background-color: yellow;
    margin: 100px;
}

.card img{
    width: inherit;
}